.header {
    padding-left: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .inner_header {
        margin-top: 5px;
    }

}

@media screen and (max-width: 765px) {
    .header {
        display: flex;
        flex-direction: column;
    }

    .inner_header {
        display: flex;
        flex-direction: row;
    }

}

.header a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    padding-bottom: 0;
    padding-right: 19px;
    line-height: 15px;
    transition-duration: 0.6s;
}

.header a:hover {
    color: #73bcff;
    font-size: 25px;
    font-weight: 700;
    transform: scale(110%);
}

@media screen and (max-width: 765px) {
    .header a {
        padding-right: 1px;
    }

}

.head__logo {
    font-size: 25px;
    line-height: 10px !important;
}

.head__item {
    font-size: 15px;
}

.bold {
    font-weight: 700;
}

.font-lato {
    font-family: Lato, sans-serif;
}

.font-overpass {
    font-family: Overpass, sans-serif;
}

.light {
    font-weight: 300;
}

html {
    height: 100%;
    width: 100%;
    padding-left: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #181818;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-one {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, #181818, rgba(255, 71, 73, 0.5) 100%),
        url(../new-images/pattern.svg) 1%, #181818;
    padding-bottom: 50px;
}

.container-normal {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container-normal {
        padding: 50px;
    }

}

.section-one {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.inner-section {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.text-section {
    display: flex;
    flex-direction: column;
    padding-right: 2vw;
    justify-content: center;
}

.preview-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
    margin: 15px;
    margin-left: 2vw;
}

@media screen and (min-width: 1280px) {
    .swiper-slide .preview-image {
        margin-right: 2vw;
    }

    .swiper-slide .text-section {
        padding-left: 2vw;
    }

}

.invite-button {
    position: relative;
    display: block;
    z-index: 2;
    box-sizing: border-box;
    padding: 10px 25px;
    margin-bottom: 26px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background: transparent;
    border: 1px #fff solid;
    width: 250px;
    height: 60px;
    border-radius: 5px;
    transition-duration: 0.6s;
}

.invite-button:hover {
    color: #000;
    background: #fff;
}

a {
    text-decoration: none;
}

.size-60 {
    font-size: 60px;
}

.size-30 {
    font-size: 30px;
}

.text-section h1 {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.text-section p {
    margin-top: 0;
    padding-top: 0;
}

@media screen and (max-width: 1275px) and (min-width: 768px) {
    .text-section {
        text-align: center;
    }

    .preview-image {
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }

    .size-60 {
        font-size: 50px;
    }

    .size-30 {
        font-size: 30px;
    }

    .inner-section {
        flex-direction: column-reverse;
    }

    .swiper-slide .inner-section {
        flex-direction: column;
    }

    .invite-button {
        margin: 0 auto;
    }
}

@media screen and (max-width: 760px) {
    .text-section {
        text-align: center;
    }

    .preview-image {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    .invite-button-outer {
        margin: 0 auto;
    }

    .size-60 {
        font-size: 40px;
    }

    .size-30 {
        font-size: 20px;
    }

    .inner-section {
        flex-direction: column-reverse;
    }

    .swiper-slide .inner-section {
        flex-direction: column;
    }

}

.swiper-container {
    width: 100%;
    height: 100%;
    margin: 20px auto;
}

.swiper-wrapper {
    padding-bottom: 55px;
}

@media screen and (max-width: 1280px) {
    .swiper-wrapper {
        padding-bottom: 100px;
    }

}

.swiper-slide {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.size-18 {
    font-size: 18px;
}

.spacing-top-0 {
    margin-top: 0;
    padding-top: 0;
}

.spacing-bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.container-two {
    background: linear-gradient(180deg, #181818, rgba(62, 128, 250, 0.5) 100%),
        url(https://manabot.fun/new-images/Mana.webp) 1%, #181818;
    display: flex;
    flex-direction: column;
    background-repeat: repeat, repeat, repeat;
    background-size: auto, auto, auto;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    padding-top: 50vh;
    padding-bottom: 50vh;
}

@media screen and (max-width: 414px) {
    .inner-container {
        margin: 10px;
    }

}

.centered {
    text-align: center;
}

.container-one .text-section {
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.container-one .inner-section {
    margin: unset;
}

.size-120 {
    font-size: 120px;
}

.flex-row {
    flex-direction: row;
}

.size-25 {
    font-size: 25px;
}

.new-preview {
    object-fit: cover;
    margin: 15px;
    margin-left: 2vw;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.main-preview-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hide-on-mobile {
    display: block;
}

@media screen and (min-width: 1020px) {
    .new-preview {
        width: 775px;
        height: 775px;
    }
}

@media screen and (max-width: 768px) {
    .new-preview {
        width: 675px;
        height: 675px;
    }


    .size-120 {
        font-size: 80px;
    }
}

@media screen and (max-width: 765px) {
    .new-preview {
        width: 475px;
        height: 475px;
    }


    .size-120 {
        font-size: 40px;
    }

    .hide-on-mobile {
        display: none;
    }
}